@import url('http://fonts.cdnfonts.com/css/circular-std');




.navbar{

    height: 72px;
    width: 100%;
    position: fixed;

}
.nav-items{
    margin-left: 60%;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.navbar ul li{
    margin-left: 32px;
    font-size: 14px;
    font-family: 'circular std';
    cursor: pointer;
    font-weight: 400;

}
.navbar img{
    margin-left: 11%;
    height: 44px;
    width:164px;
}